.externalToolBuilders
logs
project/project
project/target
**/target
tmp
.history
**/.idea
**/.vertx
**/*.iml
/out
**/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.metadata
*.log
*.log.*
/bin/
dependency-reduced-pom.xml